* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background: #ba4c11;
  height: 60px;
  padding-right: 40px;
}

.footer-wrapper {
  background: #ba4c11;
  height: 60px;
}

.wrapper2 {
  height: 100%;
}

nav a {
  text-decoration: none;

}

nav img {
  margin: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 90px;
}

nav ul {
  margin: 20px;
  padding: 0;
  float: right;
}

nav li {
  list-style-position: inside;
  font: 14px, 'Osvald', sans-serif;
  padding: 6px;
}

.menu-top li {
  display: inline;
  border: 2px solid #000;
  padding: 20px;
}

img.pictures {
  padding-top: 10px;
/*  padding-bottom: 10px;*/
}

img.active :active {
  position: absolute;
}
.droplink li {
  display:block;
}

.droplink ul {
  padding:0;
  margin:0;
}

.droplink li a{
  padding:3px 10px 4px 32px;
  margin:1px;
  display:block;
  color:#000;
  text-decoration: none;
  font-size:12px;
  background-repeat:no-repeat;
  background-position: 10px 3px;
}

.droplink li a:hover {
  background-color: #999;
}
